@import url('https://fonts.googleapis.com/css?family=Lato:100&effect=neon|fire|emboss');
@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Belanosima');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #DBC1AD;
  font-family: 'Belanosima', sans-serif;
  font-size: large;
 /* display: flex;
  flex-direction: column;new*/
  color: #5d4d3c;
  height: 100%;
}

h1, h2, h3 {
  font-family: cooper;
  color: rgb(205, 116, 6);
  margin-top: 30px;
}

#messages {
  display: none;  
}

.edit-input {
  display: none;
}

button, span, a {
  margin-right: 10px;
}

li {
  padding: 5px;
}

section {
  padding: 5px;
}

footer {
  text-align: center;
  font-size: 80%;
  font-family: Lato;
  color: rgb(244, 225, 164);
  background-color: rgba(182, 125, 9, 0.475);
  padding: 1%;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

label {
  font-size: 120%;
  color: rgba(224, 161, 45, 0.77);
  font-weight: 700;
}

textarea {
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #25211b;
  border-radius: 4px;
  background-color: #ece4de;
  font-size: 18px;
}

input {
  height: 30px;
  padding: 8px 12px;
  box-sizing: border-box;
  border: 2px solid #15130e;
  border-radius: 4px;
  background-color: #ece4de;
  font-size: 14px;
}

button {
  background-color: rgb(205, 116, 6);
  border: none;
  color: aliceblue;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  color: rgb(237, 205, 205);
  background-color: rgb(146, 228, 243);
}

.messages {
  list-style: square;
  display: flex;  
  margin-bottom: 3em;
}

img {
  --s: 100px;
  --b: 4px;
  --g: 7px;
  --c: #F3E8EB;
  border-radius: 50%;
  width: var(--s);
  
  outline: calc(var(--s)/2) solid #0009;
  outline-offset: calc(var(--s)/-2);
  cursor: pointer;
  transition: 0.3s;
}

img:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}

a:link,
a:visited {
  color: #3f38288f;
  text-decoration: none;
}

a:hover {
  color:#39d4d1f4;
}

/* Animation for the header background*/
@keyframes changeBackgroundColor {
  0% {
    background-color: #DBC1AD;
  }
  50% {
    background-color: #C09247;
  }
  100% {
    background-color: #D1AFD3;
  }
  100% {
    background-color: #DBC1AD;
  }
}

header {
  height: 7rem;
  position: sticky;
  top: 0%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  animation: changeBackgroundColor 10s infinite;
  width: 100%;
}

html {
  scroll-padding-top: 8rem;
}

/*Make list items inline boxes*/
.menu {
  margin-top: 25px;
}

.menu > li {
  display: inline;
  margin-right: 5px;
}

.menu > li:last-of-type {
  margin-right: 0;
}

.skills {
  display: flex;
  list-style: none;
  font-weight: bold;
}

.skills > li {
  /*display: inline;*/
  margin-right: 5px;
  border: 2px solid #F3E8EB;
  padding: 0.35rem 0.75rem;
}

.connect {
  list-style: none;
}

.me {
  font-family: 'Caprasimo', cursive;
  font-size: 3vw;
}

.content {
  margin: auto;
  width: 90vw;
}

.experience {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto;
  background-color: #F3E8EB;
  padding: 10px;
}

.experience > li {
  background-color: #DBC1AD;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.experience > :last-child {
  margin-bottom: 0;
}

form {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.form-body {
  flex: 1;
  max-width: 600px;
  border-radius: 10px;
  background-color: #F2EBE0;
  margin-top: auto;
  margin-bottom: auto;
  padding: 5px 10px;
  margin-bottom: 3em;
}

.row {
  display: flex; 
}

.item {
  flex: 1;  
  display: flex;
  flex-direction: column; 
  margin: 10px 5px;
}

.connect li:hover {
  font-size: 150%;
}

.connect ul{
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.menu-item:hover {
  background-color: rgb(243, 222, 167);
  border-radius: 10px;
}

@media (min-width: 481px) and (max-width: 767px) {

  header {
    text-align: center;
    padding: 24px
  }

  .form-body {
    width: 100%;
    display: block;
  }

  .row {
    display: block;
  }

  .field-label,
  .field-input {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
  }
    
  body {
    flex-direction: column;
    /*overflow-x: hidden; */
    font-size: 16px;
    line-height: 1.4; 
  }

  .menu {
    float: right;
    display: block;
  }

  .skills > li {
    display: block;
  }

  .me {
    position: absolute;
    top: 10%;
    width: 80%;
    left: 20%;
    margin: 0;
    text-align: center;
  }

  .projects {
    list-style-type: none;
  }
}

@media (max-width: 480px) {

  header {
    text-align: center;
    padding: 24px
  }

  .form-body {
    width: 100%;
    display: block;
  }

  .row {
    display: block;
  }
  
  .field-label,
  .field-input {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
  }

  body {
    flex-direction: column;
    /*overflow-x: hidden; */
    font-size: 16px;
    line-height: 1.4; 
  }

  .menu {
    float: right;
    display: block;
  }

  .skills > li {
    display: block;
  }

  .me {
    position: absolute;
    top: 10%;
    width: 80%;
    left: 20%;
    margin: 0;
    text-align: center;
  }

  .projects {
    list-style-type: none;
  }
}